.userList {
  background-color: dimgray;
  color: white;
  display: none;
}

.isVisible {
  display: block;
}

.listSegment {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0;
}

.userButton {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  font-size: 1rem;
  background-color: silver;
  border: none;
}

@media (min-width: 1200px) {
  .userList {
    display: block;
  }
}
